.game-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.game-container canvas {
	image-rendering: pixelated;
}

.inventory {
	position: absolute;
	width: 50em;
    height: 50em;
	background: #707070;
	opacity: 0.4;
	display: none;
}

