.game-container {
	display: flex;
	margin-top: 3%;
	justify-content: center;
	align-items: center;
	image-rendering: pixelated;
}
.game-container canvas {
	image-rendering: pixelated;
}

.inventory {
	position: absolute;
	image-rendering: pixelated;
	display: none;
}
