.game-container {
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%);
	position: absolute;
}

.game-container .canvas{
	image-rendering: pixelated;
}
.hud {
	left: 50% !important;
	top: 50% !important;
	transform: translate(-50%, -50%);
	position: absolute;
	z-index: 99;
}